

<div class="tech-btm">
    <h4>Yeniliklere abune olun</h4>
    <p>Texnologiyada ən son yeniliklər ünvanınıza gəlsin</p>
    <form action="/NewsLetter/SubscribeMail/" method="post">
        <input type="email" placeholder="Email" required=""name="Mail">
        <input type="submit" value="Abune ol">
    </form>
</div>